</head>
<body>
<header>
    <nav>
        <ul class="navigation">
            <li class="nameplate">WebDrawQuiz</li>
            <li class="nav-home"><a href="../">Home</a></li>
            <li class="nav-about"><a href="about/">About</a></li>
        </ul>
    </nav>
</header>