{{> includes base="../" }}
<link rel="stylesheet" href="assets/css/admin.css" />
<script src="assets/js/admin.js"></script>
{{> header }}
<main>
    <div class="hero-container">
        <h2>Administrate Quiz</h2>
        <h3 class="quiz-title"></h3>
    </div>
    <div class="only state-default show">
        <p>
            Connecting...
        </p>
    </div>
    <div class="only state-unauthenticated">
        <p>
            Create a quiz here:
        </p>
        <div class="control-row">
            <a href="create/"><button class="major">Create Quiz</button></a>
        </div>
    </div>
    <div class="only state-pre-game state-question state-answer">
        <div class="only state-pre-game">
            <div class="control-row">
                <button class="major start-quiz">Start Quiz</button>
            </div>
        </div>
        <div class="control-row">
            <h3>Quiz code:</h3>
            <span class="quiz-code-display"></span>
        </div>
        <div class="control-row">
            <h3>Players:</h3>
            <span class="players-display"></span>
        </div>
        <div class="only state-question state-answer">
            <div class="control-row">
                <button class="only state-question major show-answer">Show Answer</button>
                <button class="only state-answer major next-question">Next Question</button>
                <button class="end-quiz">End Quiz</button>
            </div>
            <div class="control-row">
                <h3><q class="quiz-question-display"></q></h3>
                <h3 class="quiz-answer-display"></h3>
            </div>
            <div class="control-row">
                <div>
                    Time remaining:
                </div>
                <span class="timeout-display"></span>
            </div>
            <table class="main quiz-responses">
                <thead>
                    <tr>
                        <th>Contestant</th>
                        <th>Response</th>
                        <th><i class="material-icons">check</i></th>
                        <th>Bonus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="template response">
                        <td class="contestant-name"></td>
                        <td class="contestant-response-container"></td>
                        <td><input type="checkbox" class="contestant-correct" /></td>
                        <td><input type="number" class="contestant-bonus" min="0" max="999" step="1" value="0" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="only state-conclusion">
        <p>
            The quiz is over. Here are the final totals:
        </p>
        <table class="main quiz-totals">
            <thead>
                <tr>
                    <th>Contestant</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr class="template contestant-total-row">
                    <td class="contestant-name"></td>
                    <td class="contestant-score"></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
<div class="overlay-container">
    <div class="error only state-error">

    </div>
</div>
