{{> includes base="../" }}
<script>
    $(function () {
        function bindRow(row) {
            $(row).find(".remove-question").click(function () {
                if ($(this).parents("tbody").find("tr").length < 2)
                    return;

                $(this).parents("tr").remove();
            });
        }
        $(".add-question").click(function (e) {
            if (e.preventDefault) e.preventDefault();

            var tbody = $(".quiz-questions tbody")[0];
            var row = $(".quiz-questions tbody tr:last-child")[0];
            row = row.cloneNode(true);
            tbody.appendChild(row);
            bindRow(row);
        });

        bindRow($(".quiz-questions tbody tr"));

        $(".quiz-creation").on("submit", function (e) {
            if (e.preventDefault) e.preventDefault();

            $(".error-message").removeClass("show");

            var time_limit = $(".quiz-time-limit").val();

            $.ajax({
                type: "POST",
                url: "api/v1/create",
                contentType: "application/json",
                processData: false,
                data: {
                    "title": $(".quiz-title").val(),
                    "questions": $(".quiz-questions tbody tr").map(function (i, e) {
                        return {
                            "question": $(e).find(".quiz-question").val(),
                            "answer": $(e).find(".quiz-answer").val(),
                            "time_limit": time_limit,
                            "score": $(e).find(".quiz-score").val()
                        };
                    }).toArray()
                },
                success: function (res, status, xhr) {
                    if (res.host_sid) {
                        createCookie("webdrawquiz.host_sid", res.host_sid);
                        createCookie("webdrawquiz.quiz_code", res.quiz_code);
                        location.replace("admin/");
                    } else {
                        $(".error-message").addClass("show")
                                .html("Got unexpected response from server.");
                    }
                },
                error: function (xhr, status, error) {
                    try {
                        var obj = JSON.parse(xhr.responseText);
                        if (obj.error_description)
                            $(".error-message").addClass("show")
                                    .html(obj.error_description);
                        else
                            $(".error-message").addClass("show")
                                    .html("Error: " + obj.error_type);
                    } catch (e) {
                        $(".error-message").addClass("show")
                                .html(error);
                    }
                }
            });

            return false;
        });
    });
</script>
{{> header }}
<main>
    <div class="hero-container">
        <h2>Create Quiz</h2>
    </div>
    <form action="create/" method="post" class="quiz-creation">
        <div class="control-row">
            <span class="error-message"></span>
        </div>
        <div class="control-row">
            <input type="text" class="quiz-title" placeholder="Title" name="title" />
        </div>
        <div class="control-row">
            <input type="button" class="add-question" value="Add Question" />
            <input type="submit" class="major submit-quiz" value="Submit Quiz" />
        </div>
        <div class="control-row">
            <div>
                Timer Per Question (seconds):
            </div>
            <input type="number" class="quiz-time-limit" min="0" value="60" />
        </div>
        <table class="main quiz-questions">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Answer</th>
                    <th>Score</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><textarea class="quiz-question" placeholder="Question"></textarea></td>
                    <td><textarea class="quiz-answer" placeholder="Answer"></textarea></td>
                    <td><input type="number" class="quiz-score" min="0" value="10" /></td>
                    <td><button class="red-button remove-question"><i class="material-icons">close</i></button></td>
                </tr>
            </tbody>
        </table>
    </form>
</main>
