{{> includes base="." }}
{{> header }}
<main>
    <div class="hero-container">
        <h1>WebDrawQuiz</h1>
        <h3>Quiz your friends over the Internet!</h3>
    </div>
    <a class="large-option" href="create/">
        <i class="material-icons">create</i>
        Create Game
    </a>
    <a class="large-option" href="join/">
        <i class="material-icons">person_add</i>
        Join Game
    </a>
</main>