{{> includes base="../" }}
<link rel="stylesheet" href="assets/css/join.css" />
<script src="assets/js/join.js"></script>
{{> header }}
<main>
    <div class="hero-container">
        <h2>Join Quiz</h2>
    </div>
    <form action="join/" method="post" class="quiz-joining">
        <div class="control-row">
            <span class="error-message"></span>
        </div>
        <div class="control-row">
            <input type="text" class="contestant-name" placeholder="Name" name="name" />
        </div>
        <div class="control-row">
            <div>Enter code:</div>
            <input type="number" class="quiz-code" placeholder="xxxx" name="code" />
        </div>
        <div class="control-row">
            <input type="submit" class="major join-quiz" value="Join Quiz" />
        </div>
    </form>
</main>
