{{> includes base="../" }}
<style>
    input[type='number'].quiz-code {
        font-size:28px;
        text-align:center;
        width:140px;
        font-family:monospace;
        -moz-appearance: textfield;
    }
    .quiz-code::-webkit-inner-spin-button,
    .quiz-code::-webkit-outer-spin-button {
        -webkit-appearance: none;
        display:none;
    }
</style>
<script>
    $(function () {
        $(".quiz-joining").on("submit", function (e) {
            if (e.preventDefault) e.preventDefault();

            $(".error-message").removeClass("show");

            $.ajax({
                type: "POST",
                url: "api/v1/join",
                contentType: "application/json",
                processData: false,
                data: {
                    "quiz_code": $(".quiz-code").val(),
                    "name": $(".contestant-name").val()
                },
                success: function (res, status, xhr) {
                    if (res.contestant_sid) {
                        createCookie("webdrawquiz.contestant_sid", res.contestant_sid);
                        location.replace("play/");
                    } else {
                        $(".error-message").addClass("show")
                                .html("Got unexpected response from server.");
                    }
                },
                error: function (xhr, status, error) {
                    try {
                        var obj = JSON.parse(xhr.responseText);
                        if (obj.error_description)
                            $(".error-message").addClass("show")
                                    .html(obj.error_description);
                        else
                            $(".error-message").addClass("show")
                                    .html("Error: " + obj.error_type);
                    } catch (e) {
                        $(".error-message").addClass("show")
                                .html(error);
                    }
                }
            });
        });
    });
</script>
{{> header }}
<main>
    <div class="hero-container">
        <h2>Join Quiz</h2>
    </div>
    <form action="join/" method="post" class="quiz-joining">
        <div class="control-row">
            <span class="error-message"></span>
        </div>
        <div class="control-row">
            <input type="text" class="contestant-name" placeholder="Name" name="name" />
        </div>
        <div class="control-row">
            <div>Enter code:</div>
            <input type="number" class="quiz-code" placeholder="xxxx" name="code" />
        </div>
        <div class="control-row">
            <input type="submit" class="major join-quiz" value="Join Quiz" />
        </div>
    </form>
</main>
