<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="author" content="Thomas Bell" />
    <meta name="viewport" content="width=device-width" />
    <link rel="author" href="https://sigptr.me" />
</head>
<body>
{{{body}}}
</body>
</html>
