{{> includes base="../" }}
<link rel="stylesheet" href="assets/css/play.css" />
<script src="assets/js/play.js"></script>
</head>
<body>
<div class="drawing-container only mode-draw">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="drawing-plane"></svg>
</div>
<div class="text-container only mode-text">
    <div class="control-row">
        <q class="question-display"></q>
    </div>
    <div class="control-row">
        <input type="text" class="text-response" placeholder="Type here" />
    </div>
</div>
<div class="choice-container only mode-choice">
    <div class="control-row">
        <q class="question-display"></q>
    </div>
    <div class="control-row">
        <select class="choice-response">
            <option selected disabled hidden class="choice-default" value>Pick one...</option>
        </select>
    </div>
</div>
<div class="question-popup only mode-draw">
    <q class="question-display"></q>
</div>
<div class="toolbox-container">
    <ul class="toolbox">
        <li class="toolbox-change-mode only mode-draw mode-text">
            <i class="material-icons only mode-draw">keyboard</i>
            <i class="material-icons only mode-text">gesture</i>
        </li>
        <li class="toolbox-eraser only mode-draw">
            <i class="material-icons">delete</i>
        </li>
        <li class="toolbox-time-remaining text-item">
            <span class="timeout-display">00:00.00</span>
        </li>
    </ul>
</div>
<div class="overlay-container">

    <div class="unauthenticated">
        <p>
            Join a quiz:
        </p>
        <a href="join/"><button class="major">Join Quiz</button></a>
    </div>
    <div class="disconnected">
        <p>
            Connecting...
        </p>
    </div>
    <div class="not-started">
        <p>
            Waiting for host to begin game...
        </p>
    </div>
    <div class="question-timeout">
        <p>
            Time's up. Waiting for the host to reveal the answer...
        </p>
    </div>
    <div class="answer-correct">
        <div class="control-row">
            <p>
                You were correct! The answer was:
            </p>
            <h4 class="answer-display"></h4>
        </div>
        <div class="only score-gained control-row">
            <p>
                You gained:
            </p>
            <h4 class="score-delta-display"></h4>
        </div>
        <p>
            You now have:
        </p>
        <h4 class="score-display"></h4>
    </div>
    <div class="answer-incorrect">
        <div class="control-row">
            <p>
                You were incorrect. The correct answer was:
            </p>
            <h4 class="answer-display"></h4>
        </div>
        <div class="only score-gained control-row">
            <p>
                You gained:
            </p>
            <h4 class="score-delta-display"></h4>
        </div>
        <p>
            You now have:
        </p>
        <h4 class="score-display"></h4>
    </div>
    <div class="end-game-win">
        <p>
            You won the game! Your score is:
        </p>
        <h3 class="score-display"></h3>
    </div>
    <div class="end-game-lose">
        <p>
            The game is complete. Your score is:
        </p>
        <h3 class="score-display"></h3>
    </div>
    <div class="error only state-error">

    </div>
</div>
